* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

body {
    border: solid lightslategrey 2px;
    margin-left: 50px;
    margin-right: 50px;
}

.header {
    text-align: center;
    background-color: grey;
    margin: 4px;
    padding: 20px;
    color: white;
}

.banner {
    text-align: center;
    background-color: skyblue;
    color: white;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    padding: 250px;
}

.section1 {
    margin: 5px;
    text-align: center;
}

.circle {
    background-color: gold;
    padding: 75px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 50%;
    display: inline-flex;
}

.section2 {
    text-align: center;
    margin-top: 20px;
}

.sec2content {
    display: inline-flex;
}