* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    border: solid lightslategrey 2px;
    margin-left: 50px;
    margin-right: 50px;
}

.header {
    text-align: center;
    background-color: grey;
    margin: 4px;
    padding: 7.5px;
    color: white;
}

.banner {
    text-align: center;
    background-color: skyblue;
}