body {
    border: solid lightslategrey 2px;
    margin-left: 50px;
    margin-right: 50px;
}

.header {
    text-align: center;
    background-color: grey;
    margin: 3px;
    padding: 7.5px;
    color: white;
}